* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 1rem;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: grey;
  cursor: pointer;
}

.clear {
  background-color: blue;
}

.operation,
.equal {
  background-color: orange;
}

button:hover {
  transition-duration: 0.5s;
  opacity: 0.5;
}

button:active {
  transform: scale(1.5);
}

.cal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #171717;
  color: white;
  border-radius: 4px;
}

.input:focus {
  outline: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0.2rem 0;
  gap: 0.1rem;
}

.equal {
  grid-column: 3 / span 3;
}
